@import './-variables.scss';
@import './-mixins.scss';

.activities {
    height: 250px;
    background-color: $bg-color;
    border-radius: 5px;
    padding: 20px;
    &__title {
        @include fontStyle(15px, 500);
        color: #20253A;
        margin: 0;
    }
    &__tooltip {
        background-color: $red-color;
        color: $white-color;
        padding: 5px;
        @include fontStyle(7px, 500);
    }
    &__tooltip_p {
        margin-top: 10px;
    }
}