@import './-variables.scss';
@import './-mixins.scss';

.avgSessions {
    width: 30%;
    height: 320px;
    background-color: $bg-color;
    border-radius: 5px;
    &__tooltip {
        background-color: $white-color;
        color: $black-color;
        padding: 5px;
        @include fontStyle(7px, 500);
    }
}