@import './-variables.scss';
@import './-mixins.scss';

.avgSessions {
    width: 33%;
    aspect-ratio: 1 / 1;
    background-color: #FF0000;
    border-radius: 5px;
    &__tooltip {
        background-color: $white-color;
        color: $black-color;
        padding: 5px;
        @include fontStyle(7px, 500);
    }
}