@import './-variables.scss';
@import './-mixins.scss';

.SideBar {
    @include flexContainer(column, space-evenly, center);
    background-color: $black-color;
    width: 117px;
    height: calc(100vh - 61px);
    &__activities {
        @include flexContainer(column, space-between, center);
        gap: 20px;
        &_img {
            @include dimension(64px, 64px);
        }
    }
    
    &__copyright {
        @include dimension(138px, 24px);
        color: $white-color;
        rotate: 270deg;
        @include fontStyle(12px,500);
    }
}